%table#display.index
  - @participants.each do |user|
    %tr{ 'data-value' => user.score }
      %td.name= link_to user.name, "/points/details/#{user.id}"
      %td.score= user.score
      %td.stars= render :partial => 'infobox',
                        :collection => user.points,
                        :as => :awarded,
                        :spacer_template => 'divider'