<span class="right_link"><a href="/">Back To Scores</a></span><h1>Gold Freaking Stars!</h1>
<h2>Rules</h2>
<table class="rules_table">
  <tr>
    <th>Rule</th>
    <th>Stars</th>
  </tr>
<% @point_types.each do |pt| %>
  <tr>
    <td class="name"><%= pt.name %></td>
    <td class="score"><%= pt.value %></td>
  </tr>
<% end %>
</table>
<h2>Awards</h2>
<table class="rules_table">
  <tr>
    <th>Award</th>
    <th>Stars</th>
  </tr>
<% @award_types.each do |at| %>
  <tr>
    <td class="name"><%= at.name %></td>
    <td class="score"><%= at.num_points %></td>
  </tr>
<% end %>
</table>
