body {
  background-color: white;
  margin: 2em; }

h2, h3, h4, h5, h6 {
  padding: 1em 0 0;
  margin-bottom: 0.75em; }

h1 a {
  text-decoration: none; }
h1 + p {
  padding-bottom: 1em; }

a {
  color: #666666; }

a:hover {
  color: black;
  text-shadow: 0 0 3px white;
  text-decoration: none; }

.padded-top {
  padding-top: 8em; }

.score img {
  padding: 0 1px; }

span.award {
  cursor: default;
  display: inline-block;
  position: relative;
  padding-bottom: 2px; }
  span.award img {
    padding: 0 1px; }

div.award.info {
  position: absolute;
  left: 0;
  bottom: 100%;
  background: #fafafa;
  min-width: 175px;
  max-width: 275px;
  padding: 4px 8px;
  border-width: 1px;
  border-color: #d3d3d3;
  border-style: solid;
  border-bottom-color: #949494;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 4px;
  -webkit-box-shadow: 0 0 7px #e0e0e0; }
  div.award.info p {
    padding: 0;
    margin: 0;
    color: #666666;
    text-shadow: none;
    font-weight: normal;
    font-size: 11px;
    font-family: "Verdana"; }
    div.award.info p.created_at {
      color: #adadad; }
    div.award.info p.name {
      font-weight: bold;
      color: #333333; }
    div.award.info p.description span {
      font-weight: normal;
      font-size: 80%;
      padding-left: 0.5em;
      color: #adadad; }

.fade {
  opacity: 0.65;
  filter: alpha(opacity=65); }

table#display {
  border-collapse: collapse;
  position: relative;
  padding: 0; }
  table#display.stars td.score {
    text-align: left; }
  table#display.index {
    cursor: default; }
    table#display.index td.stars {
      padding: 6px 0 1px; }
  table#display td {
    padding: 6px 1.5em 4px;
    background-color: #ededed;
    border-bottom: 2px solid white; }
    table#display td:first-child {
      border-left: 2px solid #c7c7c7;
      border-right: 2px dotted white; }
    table#display td.created_at {
      font-family: "Courier New";
      font-weight: bold;
      font-size: 13px;
      text-shadow: 0 1px 1px white;
      white-space: nowrap; }
    table#display td.name {
      white-space: nowrap; }
    table#display td.pointtype {
      white-space: nowrap; }
    table#display td.score {
      white-space: nowrap;
      text-align: center;
      font-weight: bold;
      color: #545454;
      text-shadow: 1px 1px 1px white; }
    table#display td.stars {
      padding: 0;
      font-weight: bold;
      font-size: 5px;
      color: #7a7a7a;
      text-shadow: 1px 1px 3px white; }

table#point {
  margin-top: 1em; }
  table#point td {
    vertical-align: top;
    padding: 0.25em; }
    table#point td select, table#point td input {
      border-radius: 5px;
      border-width: 1px;
      border-color: #a1a1a1;
      border-style: solid;
      font-family: "Verdana";
      font-size: 10pt;
      font-color: #6e6e6e;
      background-color: #ededed;
      padding: 3px; }
    table#point td select {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      padding-left: 0; }

table#admin {
  border-collapse: collapse;
  background-color: #ededed;
  margin: 1em;
  width: 80%; }
  table#admin.just-added tr:first-child {
    background-color: #c7c7c7; }
    table#admin.just-added tr:first-child td:first-child {
      border-left: 2px solid orange; }
  table#admin.just-added tr:nth-child(2) {
    background-color: #e0e0e0; }
    table#admin.just-added tr:nth-child(2) td:first-child {
      border-left: 2px solid #e0e0e0; }
  table#admin.just-added tr:nth-child(3) {
    background-color: #ededed; }
    table#admin.just-added tr:nth-child(3) td:first-child {
      border-left: 2px solid #ededed; }
  table#admin th {
    background-color: white;
    text-align: left;
    padding-bottom: 0.5em; }
  table#admin td {
    padding: 6px 12px;
    border-top: 2px solid white;
    color: #666666; }
    table#admin td:first-child {
      border-left: 2px solid #c7c7c7;
      white-space: nowrap; }
    table#admin td:nth-child(2) {
      color: #333333; }
    table#admin td.stars {
      border-left: 2px dotted white;
      color: #999999; }
    table#admin td.stars, table#admin td.created_at {
      text-align: right;
      white-space: nowrap;
      font-family: "Courier New";
      font-weight: bold;
      font-size: 13px;
      text-shadow: 0 1px 1px white; }
    table#admin td.created_at {
      padding-left: 0; }
    table#admin td.admin {
      background-color: white;
      padding: 0 0 0 1em;
      font-size: 80%; }
      table#admin td.admin a {
        color: #d3d3d3; }

#details {
  padding: 0.5em;
    padding-left: 0; }
  #details p {
    margin: 5px 0; }
